<%- include header %>
<div class="page">
     <a href="javascript:;" class="weui_btn weui_btn_plain_primary show" onclick="show()">显示二维码</a>
    <div>
    <img style="text-align:center" src="/qrimg?text=http://nczkevin.ngrok.cc/userinfo/<%= qrinfo %>"/>
    </div>
</div>
<%- include footer %>
