<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>猫途校园</title>
    <link rel="stylesheet" href="/stylesheets/weui.css"/>
    <link rel="stylesheet" href="/stylesheets/example.css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.qrcode.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/howcode.js"></script> -->
    <!-- <script src="/javascripts/zepto.min.js"></script> -->
    <!-- <script src="/javascripts/example.js"></script> -->
<style type="text/css">

#codes{margin: 50px 60px;height: 250px;width: 250px;background-color: #ddd}
</style>

</head>

<body ontouchstart>
    <div class="container">
