<%- include header %>


<div class="page">
    <div class="hd">
        <h1 class="page_title">门票系统</h1>
        <p class="page_desc">填写信息后返回二维码，凭借二维码入场</p>
    </div>
    <div class="bd spacing">
         <div class="button_sp_area">
            <a href="/user" class="weui_btn weui_btn_plain_primary js_home"
            >报名</a>
            <a href="/checkqr" class="weui_btn weui_btn_plain_primary js_home"
            >我的二维码</a>
        </div>
    </div>
</div>

<%- include footer %>
