<%- include header %>
<div class="page">
    <div class="weui_msg">
        <div class="weui_icon_area"><img src="./images/icon_nav_button.png" alt=""></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">软件测试</h2>
        </div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">时间</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input va" type="date" value="周二 10:00"/>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">地点</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input va" type="text"  value="软件楼412"/>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">老师</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input va" type="text" value="黄旭慧"/>
                </div>
            </div>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:;" class="weui_btn weui_btn_primary js_courseDetail" data-id="timeNum" >开始考勤</a>
            </p>
        </div>
    </div>
</div>
<%- include footer %>
