<%- include header %>
<div class="page">
    <div class="bd">
    <div class="weui_cells_title">
    <a href="/addlesson" class="addCourse js_course" data-id="addCourse"><h3>添加课程</h3></a></div>

        <div class="weui_panel_bd">
                <a href="/lesson" class="weui_media_box weui_media_appmsg js_course" data-id="courseDetail">
                    <div class="weui_media_hd">
                        <img src="./images/icon_nav_button.png" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">软件测试</h4>
                        <p class="weui_media_desc">周二 10:00 | 软件楼412</p>
                    </div>
                </a>
                <a href="/lesson" class="weui_media_box weui_media_appmsg js_course" data-id="courseDetail">
                    <div class="weui_media_hd">
                        <img src="./images/icon_nav_toast.png" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">安卓实训</h4>
                        <p class="weui_media_desc">周三 14:00 | 图书馆401</p>
                    </div>
                </a>
                <a href="/lesson" class="weui_media_box weui_media_appmsg js_course" data-id="courseDetail">
                    <div class="weui_media_hd">
                        <img src="./images/icon_nav_dialog.png" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">JSP课程</h4>
                        <p class="weui_media_desc">周四 10:00 | 软件楼412</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include footer %>
